<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="{% if profile.bg_color %} bg-{{ profile.bg_color }}-400 {% else %} bg-gray-100 {% endif %}">
    <div class="text-center sm:w-3/4 mx-auto mt-12">
        <h1 class="text-4xl font-semibold underline underline-offset-2 my-12 text-amber-50">{{ profile.name }}</h1>
        {% for link in links %}
        <a href="{{ link.url }}" target="_blank" class="block mx-auto w-full sm:w-3/4 mb-4">
            <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">{{ link.text }}</button>
        </a>
        {% endfor %}

        <a href="{% url 'link-list' %}" class="block sm:w-3/4 mx-auto mt-12">
            <p class="bg-black text-white py-2 rounded">made with LinkPlant</p>
        </a>
    </div>
</body>
</html>
